.footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #A9A9A9;
  min-height: 100%;
}
.text{

  text-decoration: none;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.header{
  color: rgb(255, 145, 0);
}
.text:hover{
  color: rgb(255, 145, 0);
}
.text{
  color: gray;
}
.fab:hover {
  opacity: 0.5;
}
.fab{
  color: #A9A9A9;
}