.Home{
    /* background-image: url("https://media.istockphoto.com/id/1356070782/photo/businessman-and-businesswoman-smiling-looking-at-phone.jpg?b=1&s=170667a&w=0&k=20&c=Q23eYcZXlxf8Ak86yN1zEeem94h0DRZGcS0iRUCfZ4o="); */
    background-image: url("https://media.istockphoto.com/id/1358219329/photo/woman-entrepreneur-presenting-at-business-seminar.jpg?s=612x612&w=0&k=20&c=PGzndVoIIPeq9hIqM4PEYjOoOi5FaAl91AZFrVUXX2E=");
    /* background-image: url("https://media.istockphoto.com/id/1358219358/photo/woman-entrepreneur-at-seminar-giving-presentation.jpg?b=1&s=170667a&w=0&k=20&c=vjZ4nVfRDVx9v8riD6d5D4RkBCs1D36Cyn3RXPvkPeE="); */
    height: 90vh;
    background-repeat: no-repeat;
    background-size:cover;
    /* image-rendering: pixelated; */
    width: 100%;
  }
  .home-header{
    /* background-color: blue; */
    width: 45%;
    padding-top: 10px;
    margin-left: 60px;
  }
  .home-header h1{
    margin-top: 100px;
    color: black;
    font-size: 36px;
  }
  .home-header h2{
    padding-top: 10px;
    color: black;
    opacity: 0.7;
    font-size: 20px;
  }
  .link-btn button{
  background-color: darkcyan;
  width: 180px;
  height: 40px;
  align-items: center;
  border-radius:8px;
  font-size: 20px;
  color: white;
  margin-top: 40px;
  transition: 0.3s ease-in-out;
  margin-left: 80px;
  }
  .link-btn button:hover{
  cursor: pointer;
  transition: 0.3s ease-in-out;
  
  
  }