.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background:url("https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"); */
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}
.loginForm{
    width: 30%;
    margin-top: 10px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    /* background-color: rgb(138, 24, 24); */
    border-style: none;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(158, 157, 157, 0.514);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.loginForm > label{
margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    /* border: none; */
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    border-style: none;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(158, 157, 157, 0.514);
}

.loginButton{
    margin-top: 30px;
    cursor: pointer;
    background-color: darkcyan;
    border:none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    
}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: coral;
}

.signupButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(202, 64, 202);
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}